@font-face {
  font-family: 'YuGothicUI-Bold';
  src: url("../yugothib.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'poppin-Bold';
  src: url("poppinsbold.otf");
  font-display: swap;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #00202A;
  font-family: 'YuGothicUI-Bold', Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.intro-circle {
  background-color: #6DBED7;
  opacity: .8;
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  z-index: 10000;
  position: absolute;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.intro-circle:disabled {
  opacity: .3;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  cursor: inherit;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  background-color: #00202A;
  -webkit-transition: .3s;
  transition: .3s;
}

.intro .loading-circle {
  position: absolute;
  border-radius: 50%;
  width: 0vh;
  height: 0vh;
  border: solid 1px #6DBED7;
  -webkit-transition: 1s;
  transition: 1s;
}

.intro .loading-circle.ready {
  width: 60vh;
  height: 60vh;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 4s ease 0s infinite;
          animation: pulse 4s ease 0s infinite;
}

.intro .texts-slider {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.intro .texts-slider .text-slider {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .texts-slider .text-slider p {
  mix-blend-mode: overlay;
  opacity: 0.1;
  margin: 0;
  font-size: 15vh;
  font-family: 'poppin-Bold', Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.intro .texts-slider .text-slider p.loaded {
  opacity: .7;
}

.intro .loaded-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 84vh;
  font-size: 3vh;
  -webkit-transition: .6s;
  transition: .6s;
}

.intro .loaded-indicator .loaded-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4vh;
  overflow: hidden;
}

.intro .loaded-indicator .loaded-number span {
  -webkit-transition: .5s;
  transition: .5s;
}

.intro .loaded-indicator.hide {
  opacity: 0;
}

.intro .start-btn {
  position: absolute;
  top: 84vh;
  display: none;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .5;
  position: absolute;
  top: 10px;
  right: 10px;
}

.section .credit a {
  opacity: .7;
  color: inherit;
  text-decoration: none;
  margin: 0 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .credit a img {
  height: 25px;
  width: 25px;
}

.section .credit a:hover {
  opacity: 1;
}

@media (max-width: 416px) {
  .section .credit {
    font-size: .65rem;
  }
  .section .credit a img {
    height: 16px;
    width: 16px;
  }
}

.section .nav-presentation {
  margin-top: 8%;
  position: relative;
  width: 50%;
}

@media (max-width: 500px) {
  .section .nav-presentation {
    width: 90%;
    margin: auto;
    margin-top: 10%;
  }
}

.section .nav-presentation #play {
  display: inline-block;
  position: absolute;
  bottom: 20%;
  right: 20%;
  z-index: 40;
  height: 0;
  width: 0;
  border-top: 4vw solid transparent;
  border-bottom: 4vw solid transparent;
  border-left: 7vw solid #6DBED7;
  opacity: .5;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .nav-presentation #play.transition {
  -webkit-transform: translateY(100vh) rotate(360deg);
          transform: translateY(100vh) rotate(360deg);
}

.section .nav-presentation #play.hovered {
  opacity: .9;
  bottom: 43%;
  right: 40%;
  -webkit-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}

.section .nav-presentation .interactive {
  position: absolute;
  bottom: 7.5%;
  left: 24%;
  font-size: 3vw;
  text-align: center;
  -webkit-transition: -webkit-transform .3s ease-in-out .3s;
  transition: -webkit-transform .3s ease-in-out .3s;
  transition: transform .3s ease-in-out .3s;
  transition: transform .3s ease-in-out .3s, -webkit-transform .3s ease-in-out .3s;
}

@media (max-width: 500px) {
  .section .nav-presentation .interactive {
    bottom: 10.5%;
    left: 35.5%;
  }
}

.section .nav-presentation .interactive.transition, .section .nav-presentation .interactive.hide {
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

.section .nav-presentation .circle {
  overflow: hidden;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-box-shadow: 0px 0px 90px 5px rgba(255, 255, 255, 0.35);
          box-shadow: 0px 0px 90px 5px rgba(255, 255, 255, 0.35);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 500px) {
  .section .nav-presentation .circle {
    position: relative;
    z-index: 30;
    width: 90vw;
    height: 90vw;
  }
}

.section .nav-presentation .circle #video {
  height: 100%;
  -webkit-transform: translate(-20%, 0px);
          transform: translate(-20%, 0px);
  -webkit-transition: .3s;
  transition: .3s;
}

.section .nav-presentation .circle #video.transition {
  opacity: 0;
}

.section .nav-presentation .circle .play {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 8vw;
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .nav-presentation .circle:hover .play {
  opacity: 1;
}

.section .nav-presentation .circle.transition {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.35);
          box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.35);
}

.section .nav-presentation svg {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .section .nav-presentation svg {
    z-index: 30;
  }
}

.section .description {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 500px) {
  .section .description {
    position: relative;
    display: block;
    width: 100%;
    height: 65vw;
    top: -7%;
    padding: 0 25%;
  }
}

.section .description.transition {
  opacity: 0;
}

.section .description p {
  margin: 0;
  font-size: 1.8rem;
}

.section .description a {
  opacity: .7;
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .description a:hover {
  opacity: 1;
}

.section .description .description-block {
  margin: 10px 0;
}

.section .description .description-block .description-title {
  opacity: 0.3;
  position: relative;
  top: 30px;
  left: -30px;
}

@media (max-width: 500px) {
  .section .description .description-block .description-title {
    font-size: 6vw;
  }
}

.section .description .description-block .description-info {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .section .description .description-block .description-info {
    font-size: 5vw;
  }
}

.section .description .collab {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 500px) {
  .section .description .collab {
    position: relative;
    inset: 0;
    top: -30px;
    z-index: 40;
  }
}

.section .description .collab .description-title {
  line-height: 1.5rem;
  opacity: 0.3;
  position: relative;
  top: 15px;
  left: -30px;
}

@media (max-width: 500px) {
  .section .description .collab .description-title {
    font-size: 4vw;
  }
}

.section .description .collab .description-info {
  font-size: 2rem;
  text-align: right;
}

@media (max-width: 500px) {
  .section .description .collab .description-info {
    font-size: 5vw;
  }
}

.section .background-video {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s;
}

.section .background-video.transition {
  opacity: 0;
}

@-webkit-keyframes transitionStart {
  0% {
    opacity: .8;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(6);
            transform: translate(-50%, -50%) scale(6);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes transitionStart {
  0% {
    opacity: .8;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(6);
            transform: translate(-50%, -50%) scale(6);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  76% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  81% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  91% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  65% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  76% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  81% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  91% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
